body {
	background: #f6f5f4;
	/*	
	background-image: url('background-light.jpg');
  	background-attachment: fixed;
  	background-size: cover;
	*/	
	margin-top: 60px; 
	margin-left: auto;
	margin-right: auto;
	font-family: -apple-system, BlinkMacSystemFont, Cantarell;
}

h2 {
	margin: 0px 0px 15px 28px;
	text-align: left;
}

h3 {
	margin: 5px 0px 15px 28px;
	text-align: left;
}

h4 {
	margin: 0px 0px 5px 0px;
	text-align: left;
}

p {
	margin: 2px;
}

a {	
	color: #2e3436;
	font-weight: Normal;
	text-decoration: none;
}

img {
	background: #ffffff;
	border-radius: 10px;
	margin: 0px 15px;
	box-shadow: 0px 1px 4px #888888;
}

table, th, dt {
	padding: 0px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;
	min-width: 110px;
}

/* 
div {
	text-align: left;
	margin: 0px 0px 15px -2px;
}
*/

input {
	width: 625px;
	height: 40px;
}

div {
	text-align: center;
	}
